html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#keyboard {
  border: 1px solid #333;
  background-color: plum;
  padding: 20px;
  height: 200px;
  display: flex;
  position: relative;
}

.white-key {
  border: 1px solid #000;
  background-color: #FFF;
  height: 190px;
  width: 80px;  
  justify-items: stretch;
  z-index: 1;
  border-radius: 5px;
}

.black-key{
  border: 1px solid #FFF;
  background-color: #000;
  height: 170px;
  width: 80px;
  color: #FFF;
  z-index: 2;
  border-radius: 5px;
}