html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  display: inline;
}
.hidden {
  display: none;
}



#melodius {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/piano-background.jpg');
  // background-image: url(img/pretty-colors.png); /* Need to pay for this image if we would like to use it*/
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  color: #FFF;
  // color: #000;
  box-sizing: border-box;

  #intro {
    height: 800px;  
    padding: 20px; 
    font-size: 25px;

    .tab {
      padding-left: 2vw;
    }

    #engage {
      padding-top:4%;
      padding-left: 8%;
    }
  }

  header {
    height: 10vh;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    text-align: center;
  }

  .drop-down {
    text-align: right;
    color: #000;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    z-index: 3;

  }
  .instructions {
    margin-top: 1rem;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .toggleText2 {
    display: none;
  }

  #hidden-warning {
    color: #000;
    border: 3px solid white;
    background-color: #f6bd60;
    padding: 6px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .continue-message {
    display: none;
  }

  #piano-frame {
   position: relative;
   padding-left: 10vw;
   padding-right: 10vw;
   height: 50vh;
   width: 100vw;
   background: url('./img/rusty-texture.jpeg');
   background-size: cover;
  }

  sketch-container.sketch-api {
    background: #FFF;
    top: 15%;
    bottom: 20%;
    left: 10%;
    right: 20%;
    height: 35vh;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    background-size: cover;

    sketch-DocLayout {
      background: none;
    }

    // uncomment once MIDI.volume is incorporated
    // .slidecontainer {
    //   position: absolute;
    //   bottom: 1rem;
    //   left: 2rem;
    //   z-index: 3;
    //   color: #000;
    //   vertical-align: middle;

    //   .slider {
    //     width: 100%;
    //     height: 25px;
    //     background-color: #d3d3d3;
    //     opacity: 0.7;
    //     transition: opacity .2s;

    //     &:hover {
    //       opacity: 1;
    //     }
    //   }
    // }
    
    div.buttons {
      position: absolute;
      bottom: 1rem;
      right: 2rem;
      z-index: 3;

      #startSong {
        padding: 0.2rem;
      }

      // uncomment once MIDI.volume is incorporated
      // .fa-volume-up{
      //   color: #000;
      // }
    }


  }

  section#radio-buttons {
    min-height: 6vh;
    // background-color: #6698ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
    padding: 10px 0px 10px 0px;
    position: static;
    font-size: 30px;
    font-weight: bold;
    

    label, input {
      vertical-align: middle;
    }
  }
}

#keyboard {
  border: none;
  height: 30vh;
  position: relative;
  bottom: 40px;
  right: 5px;
  left: 5px;
  margin-bottom: 400px;
  
  
  
    .white-key {
      border: 1px solid #000;
      background-color: #FFFF;
      height: 30vh;
      justify-items: stretch;
      z-index: 0;
      width: 6.66%; //1.06%
    }
    
    .white-key > span {
      left: 35%;
    }
  
    .black-key{
      border: 1px solid #FFF;
      background-color: #142648;
      height: 20vh;
      color: #FFF;
      z-index: 1;
      width: 5.4%; // 4.2%; //0.63% - for 88 keys
      transform: translateX(-50%);
    }
    
    .black-key > span {
      left: 20%;
    }

    .spacer {
      display: none;
      pointer-events: none;
    }
    
    .key {
      border-radius: 5px;
      position: absolute;

      & > span {
        position: absolute;
        bottom: 3%;
      }
    }

    .colorAdd {
      background: #6698ff;
      background: -webkit-linear-gradient(25deg, #6698ff, #ff6698, #ffb366, #ffff66, #98ff66);
      background: -o-linear-gradient(25deg, #6698ff, #ff6698, #ffb366, #ffff66, #98ff66);
      background: -moz-linear-gradient(25deg, #6698ff, #ff6698, #ffb366, #ffff66, #98ff66);
      background: linear-gradient(15deg, #6698ff, #ff6698, #ffb366, #ffff66, #98ff66);
    }
}

.title {
  font-size: 50px;
  padding-top: 80px;
}

.sub-heading {
  font-size: 30px;
  padding: 18px;
}

.glamour {
  margin: 30px;
  border-radius: 10px ;
}

img {
  border-radius: 10px;
}

.bio {
  margin: 30px;
}

#create {
  padding: 0px 100px 100px 100px;
  background-color: rgba(255, 255, 255, 0.3);

  p {
    padding-left: 3vw;
    font-size: 25px;
  }

  a {
    color: gold;
    font-size: 30px;

  }
}

.submissions {
  padding-left:2vw;
  color: gold;
}

#about {
  padding: 80px 0px 80px 0px;
}


#learn {
  background-color: rgba(255, 255, 255, 0.2);
  padding-bottom: 200px;

    p {
      font-size: 20px;
      padding: 10px 40px;
  }

    span {
      font-size: 23px;
      font-weight: bolder;
      color: gold;
    }

    a {
      color: rgb(120, 249, 120);
      font-weight: bold;
    }
}

#contact {
  padding: 0px 100px 100px 100px;
  background-color: rgb(247, 131, 59);

  .col1 {
    float: left;
    // padding-top: 20px;
    // padding-right: 20%;
    padding-left: 8%;
  }
  
  .col2 {
    padding: 0px 20px 20px 0px;
    padding-left: 40%;
  }
  
  a {
    color: rgb(84, 225, 247);
    padding-left: 2vw;
    font-size: 18px;
    font-weight: bolder;
  }

  .col3 {
    width: 10vw;
    
  }
}

footer {
  background-color: lightcoral;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #000;
  color: #FFF; 
  text-align: center;

  p, span {
    font-size: 0.85rem;
  }

  a:link {
    color:#FFF;
  }

  a:visited {
    color: #ebbcc4;
  }

  a:hover {
    color: #4c5c76;
  }

  a:active {
    color: #dc9c55;
  }
}

$whiteKeyNumber: 15; 
$blackKeyNumber: 13;
$wIncrement: percentage(1 / $whiteKeyNumber);
$bIncrement: percentage(1 / $blackKeyNumber);

@for $i from 1 through $whiteKeyNumber {
  #melodius #keyboard .white-key:nth-of-type(#{$i}) {
    top: 0;
    left: #{($i * $wIncrement) - $wIncrement};
  }
}

@for $i from 1 through $blackKeyNumber {
  #melodius #keyboard .black-key:nth-of-type(#{$i}) {
    top: 0;
    left: #{$wIncrement + ($i * $wIncrement) - $wIncrement};
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 100%;
  height: 220px;
  max-height: 100%;
  background: #000;
  text-align: center;
  padding: 30px;
  z-index: 100;
  border-radius: 5px;
  padding: 50px auto;

  &-hidden {
    display: none;
  }

  &-buttons {
    margin-top: 40px;
  }
}

.modal-overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
}

