* {
  border: 1px solid red;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#melodius {
  background-image: url(./img/piano-background.jpg);
  /* background-image: url(img/pretty-colors.png); Need to pay for this image if we would like to use it*/
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;

  .top {
    height: 20vh;
  }
  
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
  }
  
  section {
    font-size: 2rem;
  }
  
  h1, section {
    color: #FFF;
  }
  
  sketch-container.sketch-api {
    background: #FFF;
    height: 35vh;
    overflow: hidden;

    sketch-DocLayout {
      background: none;
    }
  }
}

#keyboard {
  border: none;
  height: 30vh;
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  
  
    .white-key {
      border: 1px solid #000;
      background-color: #FFF;
      height: 30vh;
      justify-items: stretch;
      z-index: 0;
      width: 6.66%; //1.06%
    }
    
    .white-key > span {
      left: 35%;
    }
  
    .black-key{
      border: 1px solid #FFF;
      background-color: #142648;
      height: 20vh;
      color: #FFF;
      z-index: 1;
      width: 5.4%; // 4.2%; //0.63% - for 88 keys
      transform: translateX(-50%);
    }
    
    .black-key > span {
      left: 20%;
    }

    .spacer {
      display: none;
      pointer-events: none;
    }
    
    .key {
      border-radius: 5px;
      position: absolute;
    }
    
    .key > span {
      position: absolute;
      bottom: 3%;
    }
}

$whiteKeyNumber: 15; 
$blackKeyNumber: 13;
$wIncrement: percentage(1 / $whiteKeyNumber);
$bIncrement: percentage(1 / $blackKeyNumber);

@for $i from 1 through $whiteKeyNumber {
  #melodius #keyboard .white-key:nth-of-type(#{$i}) {
    top: 0;
    left: #{($i * $wIncrement) - $wIncrement};
  }
}

@for $i from 1 through $blackKeyNumber {
  #melodius #keyboard .black-key:nth-of-type(#{$i}) {
    top: 0;
    left: #{$wIncrement + ($i * $wIncrement) - $wIncrement};
  }
}

/*
POSSIBLE COLOR SCHEME

INDIGO / DARKER PURPLE
HTML/HEX code:	#4c5c76	
RGB code:	rgb(76, 92, 118)	

DARKER PURPLE
HTML/HEX code:	#74748c	
RGB code:	rgb(116, 116, 140)	

DARKER PURPLE
HTML/HEX code:	#6c7c8a	
RGB code:	rgb(108, 124, 138)	

MIDHTML/HEX code:	#aca4b4	
RGB code:	rgb(172, 164, 180)	

LAVENDER / LIGHT PURPLE
HTML/HEX code:	#8e97a4	
RGB code:	rgb(142, 151, 164)	

DARK BLUEHTML/HEX code:	#142648	
RGB code:	rgb(20, 38, 72)	

SLATE GREY / LIGHT BLUE-PURPLE 1 
HTML/HEX code:	#bbcbd2	
RGB code:	rgb(187, 203, 210)	

SLATE GREY / LIGHT BLUE-PURPLE 1 
HTML/HEX code:	#bbced6	
RGB code:	rgb(187, 206, 214)	

DARK PINK
HTML/HEX code:	#ebbcc4	
RGB code:	rgb(235, 188, 196)	

LIGHT PINK
HTML/HEX code:	#e7dada	
RGB code:	rgb(231, 218, 218)	

DUSTY ORANGE
HTML/HEX code:	#dc9c55	
RGB code:	rgb(220, 156, 85)	

PEACH
HTML/HEX code:	#eccb9c	
RGB code:	rgb(236, 203, 156)	
*/